---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Video Games</title>

		<style>
			a {
				display : block;
			}
		</style>

	</head>
	<body>
		<h1>Video Games</h1>

		<nav>
			<a href="/posts/lol">League of Legends</a>
			<a href="/posts/strive">Guilty Gear: Strive</a>
			<a href="/posts/nier">Nier: Automata</a>
		</nav>

	</body>
</html>
